body {
    background-color: #0a0a0a;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background: #111;
    border: 1px solid #222;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.card:hover {
    border-color: #00f2ff;
}

/* FIKSNI OKVIR ZA SLIKE */
.image-wrapper {
    width: 100%;
    height: 250px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Drži celu sliku unutar 250px visine */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    border: 1px solid #444;
    padding: 12px 20px;
    font-size: 0.75rem;
    font-family: monospace;
}

.speed-btn {
    background: #1a1a1a;
    border: 1px solid #00f2ff;
    color: #00f2ff;
    padding: 8px 12px;
    font-size: 0.7rem;
    font-family: monospace;
    cursor: pointer;
    transition: 0.2s;
}

.speed-btn:hover {
    background: #00f2ff;
    color: #000;
}

.card-link-btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #444;
    padding: 10px 15px;
    font-size: 0.75rem;
    font-family: monospace;
    margin-bottom: 15px;
    background: #222;
}
